#slider {
	width:900px;
	height:400px;
	position:relative;
	margin:40px auto 0;
	-moz-transition:all 150ms ease-in;
	-webkit-transition:all 150ms ease-in;
	-o-transition:all 150ms ease-in;
}
#mask {
	overflow:hidden;
}
#progress {
	width:1px;
	height:1px;
	position:relative;
	top:-1px;
	background-color:#BD31F1;
	-moz-transition:all 150ms linear;
	-webkit-transition:all 150ms linear;
	-o-transition:all 150ms linear;
	-moz-animation:progress 18s infinite;
	-webkit-animation:progress 18s infinite;
}
#overlay {
	width:900px;
	height:400px;
	position:absolute;
	top:0;
	pointer-events:none;
	-moz-animation:overlay-fade 18s infinite;
	-webkit-animation:overlay-fade 18s infinite;
}
#slider ul {
	width:3600px;
	position:relative;
	left:0px;
	margin:0;
	padding:0;
	list-style:none;
	-moz-animation:slide-animation 18s infinite;
	-webkit-animation:slide-animation 18s infinite;
}
#slider li {
	width:900px;
	height:400px;
	position:relative;
	display:inline;
	float:left;
	margin:0;
	padding:0;

}
@-webkit-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-900px; opacity:1;}
	45% {left:-900px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1800px; opacity:1;}
	70% {left:-2700px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-2700px; opacity:1;}
	95% {opacity:1;}
	98% {left:-2700px; opacity:0;}
	100% {left:0px; opacity:0;}
}
@-moz-keyframes slide-animation {
	0% {opacity:0;}
	2% {opacity:1;}
	20% {left:0px; opacity:1;}
	22.5% {opacity:0.6;}
	25% {left:-800px; opacity:1;}
	45% {left:-800px; opacity:1;}
	47.5% {opacity:0.6;}
	50% {left:-1800px; opacity:1;}
	70% {left:-1800px; opacity:1;}
	72.5% {opacity:0.6;}
	75% {left:-2700px; opacity:1;}
	95% {opacity:1;}
	98% {left:-2700px; opacity:0;}
	100% {left:0px; opacity:0;}
}
@-webkit-keyframes progress {
	0% {width:0px; opacity:0;}
	2% {width:0px; opacity:1;}
	20% {width:900px; opacity:1;}
	22.5% {width:900px; opacity:0;}
	22.59% {width:0px;}
	25% {width:0px; opacity:1;}
	45% {width:900px; opacity:1;}
	47.5% {width:900px; opacity:0;}
	47.59% {width:0px;}
	50% {width:0px; opacity:1;}
	70% {width:900px; opacity:1;}
	72.5% {width:900px; opacity:0;}
	72.59% {width:0px;}
	75% {width:0px; opacity:1;}
	95% {width:900px; opacity:1;}
	98% {width:900px; opacity:0;}
	100% {width:0px; opacity:0;}
}
@-moz-keyframes progress {
	0% {width:0px; opacity:0;}
	2% {width:0px; opacity:1;}
	20% {width:900px; opacity:1;}
	22.5% {width:900px; opacity:0;}
	22.59% {width:0px;}
	25% {width:0px; opacity:1;}
	45% {width:900px; opacity:1;}
	47.5% {width:900px; opacity:0;}
	47.59% {width:0px;}
	50% {width:0px; opacity:1;}
	70% {width:900px; opacity:1;}
	72.5% {width:900px; opacity:0;}
	72.59% {width:0px;}
	75% {width:0px; opacity:1;}
	95% {width:900px; opacity:1;}
	98% {width:900px; opacity:0;}
	100% {width:0px; opacity:0;}
}
@-webkit-keyframes overlay-fade {
	0% {opacity:0;}
	2% {opacity:0.5;}
	95% {opacity:0.5;}
	98% {opacity:0;}
	100% {opacity:0;}
}
@-moz-keyframes overlay-fade {
	0% {opacity:0;}
	2% {opacity:0.5;}
	95% {opacity:0.5;}
	98% {opacity:0;}
	100% {opacity:0;}
}